/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #eef2ff;
  padding: 0;
  margin: 0;

  /* overflow-x: hidden; */
}

a {
  cursor: pointer;
}

.btn-lg {
  @apply flex justify-center items-center py-4 px-10 font-medium h-[3rem] rounded-lg transition duration-500 ease-in-out;
}

.btn {
  @apply flex justify-center items-center py-2 px-5 font-medium h-[2.25rem] rounded-lg transition duration-500 ease-in-out;
}

.btn-sm {
  @apply py-[0.3rem] px-[0.4rem] font-normal rounded-lg transition duration-500 ease-in-out;
}

.btn-xs {
  @apply font-normal rounded-lg transition duration-500 ease-in-out;
}

.hamburger {
  height: 0px;
  width: 2.25rem;

  background-color: white;
  border: 1.5px solid white;
  border-radius: 3px;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #312e81; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #818cf8; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #818cf8; /* creates padding around scroll thumb */
}

.scrollbar::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: #4b5563; /* color of the tracking area */
  border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #1f2937; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #1f2937; /* creates padding around scroll thumb */
}

.scrollbar-blue::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.scrollbar-blue::-webkit-scrollbar-track {
  background: #818cf8; /* color of the tracking area */
  border-radius: 20px;
}

.scrollbar-blue::-webkit-scrollbar-thumb {
  background-color: #312e81; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #312e81; /* creates padding around scroll thumb */
}

.btn-side {
  @apply flex items-center justify-center text-sm rounded-lg transition duration-500 ease-in-out;
}

.scrollbar-db::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.scrollbar-db::-webkit-scrollbar-track {
  background: #4b5563; /* color of the tracking area */
  border-radius: 20px;
}

.scrollbar-db::-webkit-scrollbar-thumb {
  background-color: #111827; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #111827; /* creates padding around scroll thumb */
}
